position: relative;

.mast-overlay {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);


}
}
.valign-content {
position: relative;

div {
     &.v-content {
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
     }
}
}
